body {
  margin:0;
  padding: 0;
  font-family: "Nunito",sans-serif;
  margin-bottom: 600px;
}

img {
  display: block;
  max-width: 100%;
}

ul,
a,
h1,
p,
h2,
h3,
span{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: black;
}

.super-info {
  background-color:#122AB2;
}

.super-info a {
  color:#FFFFFF;
}

.super-info ul {
  color:#FFFFFF;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 12px;
  gap:10px;
}

.header-bg {
  background:#2C70FF;
  margin-bottom: 60px;
}

.header-bg nav {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  justify-content: space-between;
  align-items: center;
  padding: 15px 12px;
}

.header-bg nav > a {
  color:#FFFFFF;
  font-size: 2.3rem;
  font-weight: 700;
  padding-right: 12px;
}

.menu-principal{
  display: flex;
  gap: 8px 20px;
  flex-wrap: wrap;
}

.menu-principal a{
  color:#FFFFFF;
  font-size: 1.25rem;
}


.main-info {
  margin:0 auto;
  max-width: 960px;
  margin-bottom: 60px;
}


.main-info h1 {
  max-width: 20ch;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 40px;
  padding-left: 20px;
}

.main-conteudo {
  display: flex;
  border-top:2px solid #2C70FF;
  flex-wrap: wrap;
}

.main-texto {
  padding:30px 20px 0 20px;
  flex:2 1 300px;
}

.main-texto h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.main-texto p {
  font-size: 1.25rem;
  max-width: 36ch;
  line-height: 1.4;
  color: #7c7c7c;;
}

.main-texto p + p {
  margin-top: 15px;
}

.main-imagem {
  display: flex;
  align-items: flex-start;
  gap:30px;
  padding:60px 20px 0 20px;
  flex:1 1 auto;
  flex-wrap: wrap;
}

.produtos {
  max-width: 960px;
  margin:0 auto;
  border-top:2px solid #2C70FF;
  margin-bottom: 40px;
  padding: 0px 20px;
}

.produtos h2 {
  font-size: 3rem;
  margin:60px 0;
}

.produtos ul {
  display: flex;
  align-items: flex-end;
  gap:20px;
  flex-wrap: wrap;
}

.produtos li {
  background: #f7f7f7;
  flex:1 1 175px;
  border-top:8px solid #2C70FF;
}

.produtos li:first-child {
  border-color:#AE81FF
}

.produtos li:nth-child(even) {
  border-color:#F9265E;
}

.produtos li:last-child {
  border-color:#66D9EB;
}

.produtos h3 {
  font-size: 3rem;
  padding:60px 20px;
  color:#A4A4A4;
}

.planos{
  background: #f7f7f7;
  padding: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap:10px;
}

.planos-item {
  flex:1;
  border:4px solid #FFFFFF;
  padding: 20px;
}

.planos-item h2 {
  margin: 20px 0;
  font-size: 3rem;
  color:#A4A4A4;
  text-align: center;
}

.planos-item span {
  display: block;
  font-size: 3rem;
  font-weight:700;
  text-align: center;
  max-width:300px;
  margin:0 auto;
  border-top: 4px solid #FFFFFF;
  border-bottom: 4px solid #FFFFFF;
  margin-bottom: 20px;
}

.planos-item sup {
  font-size: 1.5rem;
  font-weight:700;
}

.planos-item li {
  max-width:300px;
  margin:0 auto;
  margin-bottom: 12px;
  font-size: 1.2rem;
  color:#7C7C7C;
  font-style: italic;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.planos-item ul {
  margin-bottom: 20px;
}

.planos-item a {
  display: block;
  border: 4px solid #000000;
  max-width:280px;
  text-align: center;
  margin:0 auto;
  text-transform: uppercase;
  font-size: 2.25rem;
  font-weight: 700;
  padding:15px 10px;
}



.planos-item li::after {
  content: "";
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #2C70FF;
  display: block;
  margin-left: 1px;
}

